html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Import Roboto font from Google */
@import url('fonts.googleapis.com');

body {
    display: flex;
    flex-flow: column;
    font-family: "Roboto" , sans-serif;
    min-width: 100vh;
}

/* Section one - header */

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex: 1;

    background-color: #1f2937;
    padding: 1em 12em;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
}

.header-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* Section two */
.section-two {
    display: flex;
    /* flex: 1; */
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 5em 12em 8em;
    background-color: #1f2937;
}

.two-left-side {
    /* Flex properties */
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 400px;
    align-items: start;

    margin-right: 100px;
    /* gap: 0.5em; */
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.two-left-side > p {
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    color: #e5e7eb;
    padding: 0.5em 2em;
    margin-top: 1em;
    /* Rounded corners */
    border-radius: 8px;
}

.two-right-side {
    background-color: lightgray;
    /* width: 500px; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

/* Section three */

.section-three {
    /* flex properties */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.section-three > p {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 1em;
} 

.three-container {
    /* flex properties */
    display: flex;
}

.box-container {
    width: 150px;
    text-align: center;

    display: flex;
    justify-content: center;
    gap: 2.5em;
    margin: 2.5em 0em 6em 0em;
}

.box-content > .box {
    border: 2px solid #3882F6;
    border-width: 4px;
    border-radius: 10px;
    height: 125px;
    width: 125px
}

.box-content > p {
    color: gray;
    margin-top: 0.5em;
}